
l2vpn evpn
 replication-type static
 router-id Loopback1
 logging peer state

l2vpn evpn instance 101 vlan-based
 encapsulation vxlan

l2vpn evpn instance 102 vlan-based
 encapsulation vxlan
 replication-type ingress

vlan configuration 101
member evpn-instance 101 vni 10101

vlan configuration 102
member evpn-instance 103 vni 10103

interface nve1
 no ip address
 source-interface Loopback1
 host-reachability protocol bgp
 member vni 10101 mcast-group 225.0.0.101
 member vni 10102 ingress-replication


N1: 10.1.101.11/24
N2: 10.1.101.12/24
N3: 10.1.102.13/24

interface GigabitEthernet1/0/3
 switchport access vlan 101
 switchport mode access
 spanning-tree portfast
interface GigabitEthernet1/0/4
 switchport access vlan 101
 switchport mode access
 spanning-tree portfast
interface GigabitEthernet1/0/5
 switchport access vlan 102
 switchport mode access
 spanning-tree portfast

ifconfig eth1 10.1.101.11 netmask 255.255.255.0
echo 0 >/proc/sys/net/ipv4/icmp_echo_ignore_broadcasts

ifconfig eth2 10.1.101.12 netmask 255.255.255.0
echo 0 >/proc/sys/net/ipv4/icmp_echo_ignore_broadcasts

ifconfig eth3 10.1.102.13 netmask 255.255.255.0
echo 0 >/proc/sys/net/ipv4/icmp_echo_ignore_broadcasts

